@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #A31B4B;
  --primary-hover: #8B1640;
  --secondary: #4B4BA3;
  --secondary-hover: #3F3F8B;
  --dark: #4B4B4B;
  --background: #F5F5F5;
  --foreground: #171717;
  --card-bg: #FFFFFF;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}